header{
	width:100%;
	height:5rem;
	background:deeppink;
	position:fixed;
	top:0px;
	z-index:9;
}
.no1 .prev{
	/*float:left;*/
	width:1.5rem;
	height:1.5rem;
	position:absolute;
	top:1.75rem;
	left:2rem;
}
.no2{
	/*float:left;*/
	position:absolute;
	color:white;
	font-size:1.6rem;
	top:1.5rem;
	left:13rem;
}
.no3 .shopping{
	/*float:left;*/
	width:2rem;
	height:2rem;
	position:absolute;
	top:1.6rem;
	left:26rem;
}
.no4{
	font-size:3rem;
	color:white;
	position:absolute;
	top:0.5rem;
	left:30.5rem;
}
.no4 .list-two{
	width:13rem;
	height:20rem;
	background:#fcf9f9;
	/*border:1px solid red;*/
	position:absolute;
	top:4.5rem;
	left:-8.9rem;
	display:none;
}
.no4 .list-two li{
	font-size:2.8rem;
	color:#5f5f5f;
	margin-top:1.1rem;
	text-align: center;
	border-bottom:0.2rem solid #e9e9e9;
}
.no4 .list-two li .first{
	color:#5f5f5f;
}
/*=====================头部========================*/
.good{
	width:100%;
	height:50rem;	
}
.goods-img{
	position:absolute;
	height:30rem;
	background-size:100% 100%;
	margin-top:5rem;
}
.des{
	font-size:1.6rem;
	height:5rem;
	position:absolute;
	top:36.5rem;
}
.name{
	/*float:left;*/
	height:30rem;
	font-size:1.6rem;
	position:absolute;
	margin-top:42rem;
}
.price{
	font-size:2.4rem;
	color:orangered;
	height:5rem;
	position:absolute;
	top:46rem;
}
.commend{
	font-size:1.3rem;
	color:orangered;
	border:1px solid red;
	width:6rem;
	height:2rem;
	position:absolute;
	top:0.5rem;
	left:17.5rem;
	text-align:center;
}
.three{
	width:100%;
	height:5rem;
	display:flex;
}
.mail{
	width:30%;
	font-size:1.3rem;
}
.month{
	width:30%;
	font-size:1.3rem;
}
.address{
	width:40%;
	font-size:1.3rem;
}
/*==============中部=====================*/
footer{
	width:100%;
	height:5rem;
	background:purple;
	position:fixed;
	bottom:0px;
}
.passage{
	/*float:left;*/
	position:absolute;
	top:0rem;
	left:0rem;
	font-size:1.8rem;
	background:navajowhite;;
	color:black;
	width:20%;
	line-height:5rem;
	text-align:center;
}
.cart{
	/*float:left;*/
	position:absolute;
	top:0rem;
	left:6.87rem;
	font-size:1.8rem;
	background:navajowhite;;
	color:black;
	width:20%;
	line-height:5rem;
	text-align:center;
}
#add-to-cart{
	/*float:left;*/
	position:absolute;
	top:0rem;
	left:13.79rem;
	font-size:1.8rem;
	background:orange;
	color:white;
	width:30%;
	line-height:5rem;
	text-align:center;
}
.buy{
	/*float:left;*/
	position:absolute;
	top:0rem;
	left:24.1rem;
	font-size:1.8rem;
	background:red;
	
	width:30%;
	line-height:5rem;
	text-align:center;
}
.buy a{
	color:white;
}
.toast {
    width: 200px;
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    padding: 10px 5px;
    background: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    color: #fff;
}

@media screen and (min-width:412px) {
    .toast {
        top: 45%;
    }
}

@media screen and (min-width:768px) {
    .toast {
        top: 45%;
        left: 50%;
    }
}

@media screen and (min-width:1024px) {
    .toast {
        top: 40%;
    }
}














