html,body{
	width: 100%;
	height: 100%;
}

.search-list{
	width: 100%;
}
ul li{
	width: 100%;
	height: 10rem;
	background-color: #fff;
	border-bottom: 0.2rem solid #E6E6E6;
	overflow: hidden;
}
.product{
	width: 100%;
	height: 8rem;
	margin: 0.8rem;
}
.product>div{
	float: left;
}
.product-image{
	width: 8rem;
	height: 8rem;
}
.product-image img{
	width: 8rem;
	height: 8rem;
}
.product-particulars{
	margin-left: 0.5rem;
	width: 70%;
}
.product-particulars p{
	margin-bottom: 0.5rem;
	display: block;
	margin-top: 0.2rem;
	width: 100%;
	color: #4b566a;
	
	display: -webkit-box;    /*1.设置display类型为-webkit-box*/
	font-size: 16px;
	line-height: 22px;
    overflow: hidden;        /*2.设置元素超出隐藏*/
    text-overflow: ellipsis; /*3.设置超出样式为省略号*/
    -webkit-line-clamp: 2;   /*4.设置2行应用省略*/
    -webkit-box-orient: vertical;
	height: 42px;
}
.product-particulars em{
	font-size: 16px;
	color: #eb5211;
}
.product-particulars span{
	font-size: 12px;
	color: #4b566a;
	text-decoration: line-through;
}
.freight-address{
	width: 50px;
	height: 20px;
}
.freight{
	margin: 5px;
	color: #4b566a;
}
.oerror{
	width: 165px;
	height: 120px;
	font-size: 20px;
	border-radius: 10px;
	background-color: pink;
	margin: auto;
	margin-top: 4rem;
	padding: 15px;
}
.oerror span{
	text-align: center;
}
.oerror p{
	margin: auto;
	padding: 10px 0;
	width: 40px;
	height: 42px;
}
.returnTop{
	display: none;
}
.return-top{
	position: fixed;
	bottom: 10px;
	right: 5px;
	width: 32px;
	height: 32px;
	background-color: #fff;
	border-radius: 50%;
}
.return-top img{
	display: block;
	margin: auto;
	width: 32px;
	height: 32px;
}